.title {
    font-weight: bold;
    font-size: 21px;
}
.artist {
    font-size: 16px;
    padding-top: 5px;
    filter: brightness(0.67);
}
.container {
    display: flex;
    flex-direction: column;
    color: #E1E1E6;
    width: 100%;
    padding: 15px 0;
}